# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
sisoservice/node_modules/
sisoservice/public/lib/
sisoservice/app/tests/coverage/
.bower-*/
.idea/
sisoservice/coverage/

# MEAN.js app and assets
# ======================
sisoservice/public/dist/
sisoservice/uploads
sisoservice/modules/users/client/img/profile/uploads
sisoservice/config/env/local.js
*.pem

# Ignoring MEAN.JS's gh-pages branch for documenation
_site/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
sisoservice/logs/
sisoservice/build/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
sisoservice/data/
sisoservice/mongod

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln

#everything duplicated for sisoweb
sisoweb/node_modules/
sisoweb/public/lib/
sisoweb/app/tests/coverage/
sisoweb/public/dist/
sisoweb/uploads
sisoweb/modules/users/client/img/profile/uploads
sisoweb/config/env/local.js
sisoweb/logs/
sisoweb/build/
sisoweb/data/
sisoweb/mongod